/******* IPOSTAZIONI STILE CSS PER STAMPA *******/
*{
    margin: 0;
    padding: 0;
    border: 0;
}


html,body{
    height: 98%;
}


/***** Impostazioni stile CSS per aiuto alla navigazione *****/
.help{
    position:absolute;
    height:0;
    overflow:hidden;
}


#container{
    min-height: 98%;
    height: auto !important;
    height: 98%;
    margin: 0 auto -10px;
}


/***** Impostazioni stile CSS per elementi non utili ai fini della stampa *****/
#logo img, #nav, #search, #sidebar, .tags, .ribbon, .article a, #nav_pagine, .nav_help, .hidden, #prev, #next, #controlnav, .tradLink, tfoot{
    display: none;
}


/***** Impostazioni stile CSS dell'header *****/
/** Stile del titolo **/
@font-face {
    font-family: "FontTitoloSito";
    src: url("../fonts/neonfont/NEON CLUB MUSIC.otf") format("opentype");
}
#title h1{
    font-family: "FontTitoloSito", Verdana, Tahoma;
    font-size: 32pt;
    font-weight: bold;
    font-variant: small-caps;
    font-style: oblique;
    margin-left: 0.5em; 
    margin-top: 0.5em;
}
#title h1 a{
    color: #000000;
    text-decoration: none;
}
#title h2{
    font-family: Georgia, serif;
    font-size: 10pt;
    margin-top: 0.5em;
    margin-left: 3.5em;
}


/***** Impostazioni di stile per breadcrumb *****/
#breadcrumb {
   margin: 5px 15px;
}
#breadcrumb ul{
   font-weight: bold;
   font-size: 12pt;
}
#breadcrumb li{
   display: inline-block; 
   font-variant: small-caps;
   list-style-type: none;
   padding: 4px;
}
#breadcrumb li a:visited{
   color: #000000;
}


/***** Impostazioni stile CSS per il contenuto delle pagine ****/
#contents, #contents_home{
    margin-top: 1.0em;
}
/** Stile contenuto article **/
.article{
    float: left;
    width: 600px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 1.0em;
    overflow: hidden;
}
.article h1{
    margin: 2px 4px;
}
.article h1 a{
    display: block;
    font-size: 16pt;
    color: #000000;
    text-decoration: none;
}
.author{
    font-size: 8pt;
    font-style: italic;
    margin: 4px;
}
.article p{
    font-size: 10pt;
}
/** Stile immagini degli article **/
.article img{
    float: left;
    width: 250px;
    height: 90px;
    padding: 4px;
}
/** Stile visualizzazione article intero **/
.article_box{
    border-style: solid;
    border-width: 1px;
    margin: 10px 4px;
    overflow: hidden;
}
.article_img{
    float: left;
    width: 250px;
    height: 200px;
    margin: 5px 4px;
}
.article_box h1{
    text-align: left;
    font-size: 16pt;
    font-weight: bold;
    margin-top:10px;
    margin-left: 4px;
}
.article_box h2{
    text-align: right;
    font-size: 8pt;
    margin-right: 4px;
}
.article_box h3{
    margin-top: 4px;
    font-size: 9pt;
}
.article_box p{
   font-size: 10pt;
   text-align: left;
   margin: 4px;
}
#Titologallery{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
/***** Impostazioni stile CSS per galleria immagini *****/
#gallery{
    margin: 5px 4px;
    text-align: center;
}
.slide{
    width: 400px;
    height:300px;
}
/** Stile per contenuto pagine statiche **/
#static_cont p{
    font-size: 12pt;
    padding: 4px;
}
#static_list{
    padding-top: 20px; 
}
#static_list ul{
    padding-top: 4px;
}
#static_list li{
    font-size: 10pt;
    margin-left: 20px;
    padding-bottom: 4px;
}
 

/***** Impostazioni stile CSS per la visualizzazione del contenuto evento *****/
.evento{
    width: 600px;
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    margin: 10px 30px;
    overflow: hidden;
}
.Intestazione{
    float: left;
    text-align: center;
    width: 70px;
    border-style: solid;
    border-width: 1px;
    margin: 4px;
}
.Intestazione .giorno{
    display: block;
    font-size: 13pt;
}
.Intestazione .mese{
    display: block;
    font-size: 10pt;
}
.Intestazione .anno{
    display: block;
    font-size: 10pt;
}
.Intestazione .luogo{
    display: block;
    font-size: 8pt;
    font-variant: small-caps;
}
.copertina h1{
    float: left;
    width: 500px;
    text-align: center;
    font-size: 18pt;
    font-variant: small-caps;
    border: 1px solid; 
    margin: 4px;
}
.copertina h1 a{
    color: #000000;
    text-decoration: none;
}
.dettagli p.description{
    display: block;
    font-size: 10pt;
    margin: 4px;
}
.info span{
    clear: both;
    float: left;
    font-size: 10pt;
    font-weight: bold;
    margin: 4px;
}
.copertina img{
    float: left;
    width: 200px;
    height: 80px; 
    margin: 4px;
}
#informazioni ul{
    list-style-type: none;
    font-size: 10pt;
}

/***** Impostazioni stile CSS per il piede *****/
#footer, #push{
    clear: both;
    height: 10px;
}
#footer{
    margin-top: 2px;
    font-size: 0.8em;
    text-align: center;
}
#footer a{
    color: #0000FF;
}
#footer img{
    float: left;
    border: 0;
    width: 35px;
    height: 15px;
    padding: 2px;
}


/***** Impostazioni stile CSS per visualizzazione della parte ADMIN *****/
.common_box{
    width: 450px;
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    margin: 5px 110px;
}
.common_box label{
    display: block;
    font-size: 12pt;
    font-weight: bold;
}
.common_box input[type="text"], .common_box input[type="password"], .common_box input[type="file"], .common_box textarea{
    display: block;
    width: 270px;
    max-height: 30px;
    border: 1px solid;  
    line-height: 1em;
    font-size: 8pt;
    text-align: center;
    margin: 4px 85px;
}
.common_box input[type="file"]{
    font-size: 10pt;
}
.common_box input[type="submit"]{
    line-height: 1em;
    font-size: 10pt;
    text-align: center;
    margin: 4px
}
.common_box p, .common_box a{
    display: block;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    margin: 4px;
}
.common_box fieldset{
    border: 0;
}
#elencoArticoliCancellazione li{
    list-style-type: none;
}
#elencoArticoliCancellazione li a{
    font-weight: bold;
    background-image: url('./img/delete.png');
    color: #000000;
    padding-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}


/***** Impostazioni stile tabella *****/
#tabella{
    margin-left: auto;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-right: auto;
}
tr{
    margin: 0;
    padding: 0;
}
tr:nth-child(even){
    background-color: #CACAB1;
}
td, th{
    border: 1px solid #000000;
    padding: 4px;
}
.theader{
    margin: 0px;
    padding: 4px;
    border: 1px solid #000000;
    background-color: #33CCFF;
    color: #000000;
}
.name{
    font-weight: bold;
    text-align: center;
}	






