/***** Impostazioni stile CSS generali per la visualizzazione sul web *****/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background: #F5F6F6; 
    background: -moz-linear-gradient(-45deg, #F5F6F6 0%, #DBDCE2 21%, #B8BAC6 49%, #DDDFE3 80%, #F5F6F6 100%); 
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#F5F6F6), color-stop(21%,#DBDCE2), color-stop(49%,#B8BAC6), color-stop(80%,#DDDFE3), color-stop(100%,#F5F6F6)); 
    background: -webkit-linear-gradient(-45deg, #F5F6F6 0%,#DBDCE2 21%,#B8BAC6 49%,#DDDFE3 80%,#F5F6F6 100%); 
    background: -o-linear-gradient(-45deg, #F5F6F6 0%,#DBDCE2 21%,#B8BAC6 49%,#DDDFE3 80%,#F5F6F6 100%); 
    background: -ms-linear-gradient(-45deg, #F5F6F6 0%,#DBDCE2 21%,#B8BAC6 49%,#DDDFE3 80%,#F5F6F6 100%); 
    background: linear-gradient(135deg, #F5F6F6 0%,#DBDCE2 21%,#B8BAC6 49%,#DDDFE3 80%,#F5F6F6 100%); 
}


/***** Impostazioni stile CSS per aiuto alla navigazione *****/
.help{
   position:absolute;
   height:0;
   overflow:hidden;
}

/***** Impostazioni stile CSS dell'header *****/
#header{
   background-color: #000000;
   color: #FFFFFF;
}
/** Stile logo del sito **/
#logo img{
   float: left;
   width: 8%;
   min-width: 80px;
}
/** Stile del titolo **/
#title{
   display: inline-block;
}
@font-face {
   font-family: "FontTitoloSito";
   src: url("../fonts/neonfont/NEON CLUB MUSIC.otf") format("opentype");
}
#title h1{
   font-family: "FontTitoloSito", Verdana, Tahoma;
   font-size: 3em;
   font-weight: bold;
   font-variant: small-caps;
   font-style: oblique;
   padding-top: 1%;
   padding-left: 10%;
}
#title h2{
   font-family: Georgia, serif;
   font-size: 1.0em;
   padding-top: 1%;
   padding-left: 25%;
}

/***** Impostazioni stile CSS del menù di navigazione *****/
#nav{	
   display: inline-block;
   width: 100%;
   background-color: #45484D;
   border-bottom-style: solid;
   border-width: 5px;
   border-color: #33CCFF;
}
#nav ul{
   float: left;
   width: 60%;
   list-style-type: none;
   padding-left: 8%;
}
#nav ul li{
   display: inline-block;
   font-variant: small-caps;
   text-align: center;
   font-size: 1.4em;
   margin: 0 1%;
}
#current_nav{
   background-color: #33CCFF;
   color: #000000;
   padding: 0.5%;
}
#nav ul li a{
   display: block;
   color: #FFFFFF;
   padding: 3% 0;
}
#nav ul li a:hover{
   background-color: #FFFFFF;
   color: #000000;
}
#nav ul li a:visited{
   color: #FF66FF;
}
/** Stile per tablet e mobile **/
@media only screen and (max-width: 959px){
#nav{
   border-bottom-style: none;
}	
#nav ul{
   width: 100%;
   padding-left: 0;
}
#nav ul li{
   display: block;
   width: 80%;
   margin: 1% auto;
}
#current_nav{
   padding: 0.5% 0;
}
#nav ul li a{
   padding: 0.6% 0;
}
}

/***** Impostazioni stile CSS per barra di ricerca *****/
#search{
   float: right;
   padding-top: 0.3%;
   margin-right: 1%;
}
#text_field
{
   background-image: url('../css/img/search.jpg');
   background-size: 25px 25px;
   background-repeat: no-repeat;
   background-position: right center;
   background-color: #FFFFFF;
   width: 60%;
   font-size: 1.3em;
   padding-right: 9%;
}
#button{
   width: auto;
   font-size: 1.3em;
}
/** Stile per tablet e mobile **/
@media only screen and (max-width: 959px){
#search{
   float: none;
   width: 100%;
   margin: 1% auto;
   text-align: center;
}
#text_field, #button{
   display: inline-block;
   width: auto;
}
} 

/***** Impostazioni stile CSS per il contenuto delle pagine ****/
#contents_home{
   float: left;
   width: 80%;
}
#contents h1, #contents_home h1{
   font-variant: small-caps;
   font-size: 1.8em;
   text-align: center;
   padding-top: 0.5%;
}
/** Stile contenuto article **/
.article:nth-child(odd){
   float: left;
   margin: 1% 0 1% 5%;
}
.article:nth-child(even){
   float: right;
   margin: 1% 5% 1% 0;
}
.article{
   width: 40%;
   background-color: #FFFFFF;
   border-style: solid;
   border-width: 1px;
   box-shadow: 0px 0px 5px 3px #303030;
   -moz-box-shadow: 0px 0px 5px 3px #303030;
   -webkit-box-shadow: 0px 0px 5px 3px #303030;
   padding: 1%;
}
.article a:visited{
   color: #FF66FF;
}
.article h2 a{
   color: #000000;
   text-decoration: none;
}
.article h2 a:hover{
   text-decoration: underline;
}
.author{
   float: right;
   font-size: 0.8em;
   font-style: italic;
}
/** Stile visualizzazione dei tags **/
.tags{
   display: block;
   list-style: none;
   margin: 1% auto;
}
ul.tags {
   margin-top:0px;
}
.tags li, .tags a{
   float: right;
   position: relative;
   height: 24px;
   line-height:24px;
   font-size: 0.9em;
}
.tags a{
   margin-left: 24px;
   padding: 0 10px 0 12px;
   background: #33CCFF;
   color: #000000;
   font-variant: small-caps;
   text-decoration: underline;
   -moz-border-radius-bottomright: 4px; 
   -webkit-border-bottom-right-radius: 4px;	
   border-bottom-right-radius: 4px;
   -moz-border-radius-topright: 4px;
   -webkit-border-top-right-radius: 4px;	
   border-top-right-radius: 4px;	
}
.tags a:before{
   content: "";
   float: left;
   position: absolute;
   top: 0;
   left: -12px;
   width: 0;
   height: 0;
   border-color: transparent #33CCFF transparent transparent;
   border-style: solid;
   border-width: 12px 12px 12px 0;		
}
.tags a:after{
   content: "";
   position: absolute;
   top: 10px;
   left: 0;
   float: left;
   width: 4px;
   height: 4px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background: #FFFFFF;
   -moz-box-shadow: -1px -1px 2px #004977;
   -webkit-box-shadow: -1px -1px 2px #004977;
   box-shadow: -1px -1px 2px #004977;
}
.tags a:hover{
   background: #555555;
   color: #FFFFFF;
}
.tags a:hover:before{
   border-color:transparent #555555 transparent transparent;
}
.tags a:visited{
   background: #555555;
}
.tags a:visited:before{
   border-color:transparent #555555 transparent transparent;
}
/** Stile immagini degli article **/
.article img{
   width: 100%;
   padding: 1% 0;
}
/** Stile per scorrimento pagine **/
#nav_pagine{
   clear: both;
   text-align: center;
   padding: 1% 0;
}
#nav_pagine a{
   color: #0000FF;
   padding-right: 0.3%;
   padding-left: 0.3%;
}
.nav_help{
   clear: both;
   width: 100%;
   display: block;
   background-image: url('../css/img/tornaSu.png');
   background-size: 30px 30px;
   background-repeat: no-repeat;
   background-position: top center;
   text-align: center;
}
.nav_help a{
   padding-top: 1.5em;
   display: block;
}
.nav_help:nth-child(4n), .nav_help:nth-child(4n+4){
   display: none;
}

/** Stile visualizzazione article intero **/
.article_box{
    width: 80%;
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px 3px;
    -moz-box-shadow: 0px 0px 5px 3px;
    -webkit-box-shadow: 0px 0px 5px 3px;
    padding: 1%;
    margin: 5% auto;
}
.ribbon{
    float: left;
    margin: -1.5%;
    padding: 0;
    background-repeat: no-repeat;
    height: 90px;
    width: 119px;
    text-indent:-999999px;
}
.eventRibbon{
    background-image: url('../css/img/ribbonsEventiMini.png');
}
.newsRibbon{
    background-image: url('../css/img/ribbonsNewsMini.png');
} 
.intervisteRibbon{
    background-image: url('../css/img/ribbonsIntervisteMini.png');
}
.RecensioniRibbon{
    background-image: url('../css/img/ribbonsRecensioniMini.png');
}
.article_img{
    width: 100%;
    margin-top: 5px;
}
.article_box h1:first-of-type{
    text-align: left !important;
    font-size: 1.8em !important;
    font-weight: bold;
}
.article_box h2:first-of-type{
    text-align: center !important;
    font-size: 0.9em !important;
    color: #1C1C1C;
}
#descrizione{
    width: 80%;
    margin: 2em auto;
}
#title a{
    color: #FFFFFF;
    text-decoration: none;
}
#title a:hover{
    text-decoration: underline;
}
#interlocutore{
    margin-top: 1em;
}

#galleryLink p:first-of-type:hover{
    font-size: 103%;
}
#informazioni ul{
    width: 80%;
    margin: 1em auto;
    text-align: left;
    list-style-type: none;
}
#Titologallery{
    padding: 0.5em 0;
    width: 20%;
    background-color: #000000;
    color: #FFFFFF;
    height: auto;
    display: block;
    font-variant: small-caps;
}
/** Stile per contenuto pagine statiche **/
#static_cont p{
    font-size: 1.3em;
    padding: 1%;
}
#static_list{
    padding-top: 4%; 
}
#static_list ul{
    font-size: 1.1em;
    padding-top: 1%;
    padding-left: 2%;
}
#static_list li{
    list-style-type: none;
    padding-bottom: 2%;
}
/** Stile per tablet e mobile **/
@media only screen and (max-width: 959px){
#contents_home{
    width: 100%;
}
.article{
    float: none;
    display: block;
    width: 90%;
    margin: 2% auto;
} 
.nav_help{
   clear: both;
   width: 100%;
   text-align: center;
}
.nav_help:nth-child(4n), .nav_help:nth-child(4n+4){
   display: block;
}
.tags{
   margin: 1.8em auto;
}
}

/***** Impostazioni di stile CSS per la sidebar nella homepage *****/
#sidebar{
   float: right;
   width: 16%;
   background: #1D1D1D; 
   font-size: 0.9em;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   padding: 1% 2%;
   margin-top: -0.5%;
}
#sidebar h1{
   color: #33CCFF;
   font-size: 1.2em;
   text-align: center;
   margin: 10% auto;
}
.box{
   background-color: #1E1E1E;
   padding-top: 3%;
   padding-bottom: 1%;
   margin-bottom: 20%; 
}
.effect{
   position: relative;       
   -webkit-box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
   -moz-box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
   box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
}
.effect:before, .effect:after{
   content: "";
   position: absolute; 
   z-index: -1;
   -webkit-box-shadow: 0 0 20px rgba(255,255,255,0.8);
   -moz-box-shadow: 0 0 20px rgba(255,255,255,0.8);
   box-shadow: 0 0 20px rgba(255,255,255,0.8);
   top: 0;
   bottom: 0;
   left: 10px;
   right: 10px;
   -moz-border-radius: 100px / 10px;
   -webkit-border-radius: 100px / 10px;
   border-radius: 100px / 10px;
}
.effect:after{
    right: 10px; 
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg); 
    -moz-transform: skew(8deg) rotate(3deg);     
    -ms-transform: skew(8deg) rotate(3deg);     
    -o-transform: skew(8deg) rotate(3deg); 
    transform: skew(8deg) rotate(3deg);
}
#sidebar li{
   list-style-type: none;
   text-align: center;
   color: #FFFFFF;
   padding-top: 2%;
   padding-bottom: 5%;
}
#sidebar a{
   color: #FFFFFF;
   font-style: italic;
}
#sidebar a:hover{
   font-weight: bold;
   font-size: 1.1em;
}
#sidebar a:visited{
   color: #FF66FF;
}
/** Stile per tablet e mobile **/
@media only screen and (max-width: 959px){
#sidebar{ 
    clear: both;
    float: none;
    display: block;
    width: 95%;
    text-align: center;
    margin: 1% auto;
}
#sidebar h1{
    margin: 2% auto;
}
#sidebar li {
    padding: 1.5%;
}
.box{
    padding-top: 1%;
    margin-bottom: 5%;
}
}


/***** Impostazioni stile CSS per la visualizzazione del contenuto evento *****/
.evento{
    width: 90%;
    list-style-type: none;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px 3px #303030;
    -moz-box-shadow: 0px 0px 5px 3px #303030;
    -webkit-box-shadow: 0px 0px 5px 3px #303030;
    padding: 1%;
    margin: 2% auto 4% auto;
}
.Intestazione{
    float: left;
    width: 8%;
    text-align: center;
    background-color: #550000;
    color: #FFFFFF;
    margin-right: 0.4%;
}
.Intestazione .giorno{
    display: block;
    font-size: 3em;
    line-height: 0.9em;
}
.Intestazione .mese{
    display: block;
    font-size: 1.2em;
    line-height: 0.9em;
}
.Intestazione .anno{
    display: block;
    font-size: 1.2em;
    line-height: 1.8em;
}
.copertina{
    width: 90%;
    height: 20em;
    overflow: hidden;
}
.copertina img{
    width: 100%;
    height: auto; 
    margin: -3.5em;
}
.copertina h2{
    position: relative;
    display: inline;
    top: 60%;
    left: 15%;
    width: auto;
    font-size: 2.0em;
    font-variant: small-caps;
    background-color: #000000;
    border: 1px solid #45484D; 
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;     
    box-sizing: border-box;         
    padding: 1% 3%;
}
.copertina h2 a{
   color: #FFFFFF;
   text-decoration: none;
}
.copertina h2 a:hover{
   text-decoration: underline;
}
.dettagli p.description, .dettagli p.info{
   margin-top: 1.5%;
}
.info span{
   font-weight: bold;
}
/** Stile per tablet e mobile **/
@media only screen and (max-width: 1000px){
.Intestazione{
    float: none;
    clear: both;
    width: 90%;
    margin: 0 auto;
}
.evento p{
    width: 90%;
    margin: 2% auto;
}
.copertina{
    height: auto;
}
.copertina img{
    margin: 0 10%;
}
.copertina h2{
    top: 5.5em;
    left: 15%;
    font-size: 1.4em;
}
}

/***** Impostazioni stile CSS per il piede *****/
#footer{
   clear: both;
   background-color: #45484D;
   text-align: center;
   color: #FFFFFF;
   padding: 1%;
}
#footer a{
   color: #33CCFF;
}
#footer img{
   float: left;
   border: 0;
   width: 5%;
}
/** Stile per tablet e mobile **/
@media only screen and (max-width: 959px){
#footer img{
   width: 9%;
}
}


/***** Impostazioni stile CSS per visualizzazione della parte ADMIN *****/
.common_box{
    width: 60%;
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px 3px;
    -moz-box-shadow: 0px 0px 5px 3px;
    -webkti-box-shadow: 0px 0px 5px 3px;
    padding: 1%;
    margin: 5% auto;
}
.common_box label{
    display: block;
    font-size: 1.8em;
    font-weight: bold;
}
.common_box input[type="text"], .common_box input[type="password"], .common_box input[type="file"], .common_box textarea{
    display: block;
    width: 50%;
    border: 2px solid;  
    box-shadow: 0px 0px 2px 2px;
    -moz-box-shadow: 0px 0px 5px 3px;
    -webkit-box-shadow: 0px 0px 5px 3px;
    line-height: 1em;
    font-size: 1.4em;
    text-align: center;
    margin: 3% auto;
}
.common_box input[type="file"]{
    font-size: 1.3em;
}
.common_box input[type="submit"]{
    line-height: 1em;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0px 0px 2px 2px;
    -moz-box-shadow: 0px 0px 5px 3px;
    -webkit-box-shadow: 0px 0px 5px 3px;
    padding: 0.3em 0.8em;
    margin: 10% auto;
}
.common_box p, .common_box a{
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    margin: 2% auto;
}
.common_box fieldset{
    border: 0;
}
.common_box a{
    color: #00F;
}
.common_box a:hover{
    text-decoration: underline;
}
#elencoArticoliCancellazione li{
    list-style-type: none;
}

#elencoArticoliCancellazione li a{
    font-weight: bold;
    background-image: url('./img/delete.png');
    color:#000;
    padding-left:5%;
    background-size:contain;
    background-repeat: no-repeat;
}


/***** Impostazioni stile CSS per aiuti e messaggi d'errore javascript *****/
.jsErr{
    color: red;
    font-weight: bold;
}
.jsHelp{
    color: green;
    font-weight: bold;
}

/***** Impostazioni stile CSS per galleria immagini *****/
#gallery{
    margin: 1em auto;
}
#gallery ul{
    margin-top: 2em;
    padding: 0;
    list-style-type: none;
}
.active{
    display: block;
    text-align: center;
}
.hidden{
    display: none;
}
.slide{
    max-width:80%;
    height:500px;
}
#prev{
    margin-left: 30%;
    display: inline-block;
    width: 10%;
    height: 3.2em;
    background-image: url('../javascript/img/arrow-left.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
}
#next{
    margin-right:30%;
    display: inline-block;
    width: 10%;
    height: 3.2em;
    background-image: url('../javascript/img/arrow-right.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
}
#prev:hover, #next:hover{
    opacity: 1;
}
.galleryButton{
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#controlnav{
    border-top: #33CCFF 5px solid;
    height: 7em;
    width: 80%;
    background-color:#CACAB1;
    list-style-type: none;
    padding-left: 0.5%;
    margin: 0 auto;
}
.activenav img{
    border: 3px solid #33CCFF;
    padding: 0;
}
.tnail{
    float:left;
    width: 8%;
    max-height: 150px;
    overflow:hidden;
    padding: 0.3em 0.3em;
    padding-top: 0;
    cursor: pointer;
}
.tnail:hover{
    opacity: 0.5;
}
@media only screen and (max-width: 959px){
.slide{
   max-width:80%;
   height: auto;
}
#controlnav{
   height: 2em;
}
}





